.home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
}

.home p {
  font-size: 1.2rem;
  color: #b3b3b3;
} 